# ignore pycaches
__pycache__

# ignore log files except one example
log/*
!log/230427_1137_8197.log

# ignore result folders except one example
results/*
!results/230427_1137_8197
!main_results.csv

# ignore analysis folder
analysis

# ignore data except SPC and single labele example
# data/*
!data/spc-egemaps-average.pkl
!data/single_label_example_dataset.pkl
data/nsc-compare.pkl
data/own_raw-egemaps.pkl

# Ignore notebooks
ipynb
run_notebook.ipynb
test.ipynb
test2.ipynb
keep_test.ipynb